@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* Variables */
:root {
  --clr-white: #fff;
  --clr-black: #222;
}

/* Global Styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif;
  background: var(--clr-white);
  color: var(--clr-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 20px;
  }
}

/* Global Classes */
/* Header component */
.header {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100vw;
  border-bottom: solid 1px #222;
  background-color: rgb(217, 234, 211);
}

.header-logo {
  width: 100px;
  border-right: solid 1px #222;
  background-color: white;
  padding: 10px;
}

.header-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.header-time {
  position: relative;
  width: calc(100vw - 100px);
  padding: 10px;
}

.header-time h1 {
  position: absolute;
  top: 20px;
  right: 50px;
}

/* class for arrangement */
.arrange-one {
  display: flex;
  flex-direction: row;
}

/* Sidebar component */
.sidebar {
  width: 100px;
  height: calc(100vh - 100px);
  border-right: solid 1px #222;
  padding: 10px;
  position: relative;
  background-color: rgb(253, 229, 153);
}

.sidebar button {
  position: absolute;
  top: 50px;
  height: 80px;
  width: 80px;
  background-color: rgb(253, 229, 153);
}

/* class for arrangement */
.arrange-two {
  display: flex;
  flex-direction: column;
}

/* Content component */
.content {
  width: calc(100vw - 100px);
  height: calc(100vh - 200px);
  overflow-x: auto;
  padding: 20px;
  position: relative;
}

.content li {
  font-size: 1.5rem;
}

.content h4 {
  position: absolute;
  right: 20px;
}

/* Footer component */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 100px);
  height: 100px;
  border-top: solid 1px #222;
  padding: 10px;
  position: relative;
  background-color: rgb(201, 218, 248);
}

.footer .name {
  position: absolute;
  top: 10px;
  left: 10px;
}
